<body background="http://wlpapers.com/images/water-background-1.jpg">
<h1><%= @event.distance %>  Meter <%= @event.stroke %></h1>
<ul>
  USA Boys 13-14 Motivational Times:
  <table border="1">
    <thead>
      <th>AAAA</th>
      <th>AAA</th>
      <th>AA</th>
      <th>A</th>
      <th>BB</th>
      <th>B</th>
    </thead>
    <th>9:04.39</th>
    <th>9:30.29</th>
    <th>9:56.29</th>
    <th>10:22.19</th>
    <th>11:13.99</th>
    <th>12:05.89</th>
  </table>
  
<ul>
