<h1>All Swimmers</h1>

<h2>
  <%= link_to "New Swimmer", new_swimmer_path %>
</h2>

<ul>
  <% for swimmer in @swimmers %>
    <li>
      <%= link_to swimmer.last_name+", "+swimmer.first_name, swimmer %>
    </li>
  <% end %>
</ul>
